{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="row">
    <div class="col-md-6">
      <h1> Write to us. </h1>
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
<div class="row">
    <div class="col-md-6">
      <h1> Frequently asked questions </h1>
      <p> We understand that this is a new process and you may not know  what questions to ask, therefore we have compiled of list of qestions commonly asked that youu may also want to know the answer to. </p>
      <div class="jumbofaq">
      <br>
       <ul style="list-style-type:square">
         <li> What is a drone? </li>
         <li>What are some of the safety issues?</li>
         <li> How is my property information stored?</li>
        <li> How long is my information stored for?</li>
        <li> Can I approve the images before they are stored?</li>
        <li> How long does the claim process take?</li>
        <li> How much does the drone usage cost?</li>
        <li> How long does it take for the drone to capture the images?</li>
        <li> How quickly should the drones work post disaster? </li>
         <li> How can I ensure that my information is deleted after?</li>
         </div>
  </div>
</div>
{% endblock %}