{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
<div class="jumbovid">
  <h1>Drones in Action</h1>
  <br>
  <p> We have provided videos to show how the drones are used to capture images over vvarious areas. They show live videos of how the drones can be utilized during natural disasters.</p>
   <iframe width="500" height="315" src="https://www.youtube.com/embed/rrWhHEgpPQQ" frameborder="0" allowfullscreen style=float:right></iframe>
  <iframe width="500" height="315" src="https://www.youtube.com/embed/nSMflN14MHE" frameborder="0" allowfullscreen></iframe>
  <iframe width="500" height="315" src="https://www.youtube.com/embed/rrWhHEgpPQQ" frameborder="0" allowfullscreen style=float:right></iframe>
  <iframe width="500" height="315" src="https://www.youtube.com/embed/Ql9mM6bnzRQ" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}